.app {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 94vw;
  height: 100vh;
}

.app-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-content {
  display: flex;
  flex: 1;
}

.app-footer {
  /* height: 200px !important; */
  background-color: black;
}
.products {
  padding: 8px;
}
.item-card-image {
  height: 150px;
  object-fit: contain;
}

.item-card,
.item-card-badge {
  margin: 8px;
}
.item-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.page-content {
  margin: 0, 20px;
}

.ant-skeleton-paragraph {
  height: 55px !important;
  overflow-y: hidden !important;
}
